.host_nav {
  .navbar {
    background-color: #d41c31;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .logo img {
    max-height: 40px;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  .nav-item {
    margin: 0;
  }

  .nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }

  .nav-link:hover {
    color: #1b1464;
  }
}
